.doubleImage{
    margin-left:100px;
}
.heading{
    font-size: 60px;
    justify-content: end;
}

.tAndL{
    color: white;
    background: -webkit-linear-gradient(right,rgb(0, 110, 255), rgb(250, 72, 72));
    font-size: 30px;
    padding: 20px;
    border-radius: 15px;
}
.scentence{
    font-size: 30px;
    justify-content: end;
}
@media only screen and (max-width: 800px) {
    .doubleImage{
        margin-left: 1px;
        height: 350px;
        width: 700px;
    }
    .heading{
        font-size: 30px;
    }
    
    .scentence{
        font-size: 15px;
    }
    .tAndL{
        color: white;
        background: -webkit-linear-gradient(right,rgb(0, 110, 255), rgb(250, 72, 72));
        font-size: 15px;
        padding: 10px;
        border-radius: 15px;
    }
}