.navbarLogo{
    height: 100px; 
    width:100px;
}
.navItems {
    font-size: 30px;
    margin-left: 50px;
    padding: 10px;
}
.navLink {
    color: rgb(0, 109, 182);
    padding: 20px;
    list-style: none;
}
