.image-2-icon3 {
  object-fit: cover;
}
.image-2-icon3,
.image-2-wrapper1,
.newsroom-article-1-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 202px;
  height: 173px;
}
.newsroom-article-1-inner {
  top: 22px;
  left: 24px;
}
.newsroom-article-1-child {
  position: absolute;
  width: 100%;
  top: 2294px;
  right: 0;
  left: 0;
  background-color: var(--vrgear-light-color-divider);
  height: 4px;
}
.newsroom-article-1-item {
  position: absolute;
  width: calc(100% - 622px);
  top: 2025px;
  right: 458px;
  left: 164px;
  background-color: var(--text-txt-primary);
  height: 5px;
}
.image-38-icon3 {
  position: absolute;
  top: 2590px;
  left: 44px;
  width: 113px;
  height: 93px;
  object-fit: cover;
}
.newsroom-article-1-child1,
.newsroom-article-1-child2 {
  position: absolute;
  top: 2599px;
  left: 40px;
  background-color: var(--vrgear-light-color-background);
  width: 120px;
  height: 84px;
}
.newsroom-article-1-child2 {
  top: 573px;
  left: 155px;
  width: 844px;
  height: 1332px;
}
.group-child71 {
  position: absolute;
  height: 38.22%;
  width: 75%;
  top: 0;
  right: 12.5%;
  bottom: 61.78%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b13,
.group-parent10 {
  position: absolute;
  top: 28.6px;
  left: 0;
}
.group-parent10 {
  height: 1.73%;
  width: 1.67%;
  top: 11.46%;
  right: 91.81%;
  bottom: 86.82%;
  left: 6.53%;
  text-align: center;
  font-family: var(--font-pt-serif);
}
.vector-icon4 {
  position: absolute;
  height: 36.73%;
  width: 93.75%;
  top: 0;
  right: 6.25%;
  bottom: 63.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b14,
.vector-parent2 {
  position: absolute;
  top: 32.36px;
  left: 0;
}
.vector-parent2 {
  height: 1.86%;
  width: 1.11%;
  top: 14.21%;
  right: 92.08%;
  bottom: 83.93%;
  left: 6.81%;
  text-align: center;
  font-family: var(--font-pt-serif);
}
.vector-icon5 {
  position: absolute;
  height: 34.04%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 65.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b15,
.vector-parent3 {
  position: absolute;
  top: 34.43px;
  left: 1px;
}
.vector-parent3 {
  height: 1.94%;
  width: 1.25%;
  top: 17.3%;
  right: 92.01%;
  bottom: 80.77%;
  left: 6.74%;
  text-align: center;
  font-family: var(--font-pt-serif);
}
.how-transportation-is5 {
  position: absolute;
  top: 613.32px;
  left: 164px;
  font-size: var(--font-size-21xl);
  line-height: 120%;
  display: inline-block;
  color: var(--color-gray-100);
  text-align: justify;
  width: 654px;
}
.newsroom-article-1-child3 {
  position: absolute;
  top: 743px;
  left: 164px;
  border-radius: 6.86px;
  background-color: var(--color-aliceblue-100);
  width: 109px;
  height: 36px;
}
.textile5 {
  position: absolute;
  top: 748px;
  left: 185px;
  font-size: var(--font-size-xl);
  font-family: var(--font-pt-sans);
}
.newsroom-article-1-child4 {
  position: absolute;
  top: 743px;
  left: 284px;
  border-radius: 6.86px;
  background-color: var(--color-lavender);
  width: 109px;
  height: 36px;
}
.industry4 {
  position: absolute;
  top: 748px;
  left: 298px;
  font-size: var(--font-size-xl);
  font-family: var(--font-pt-sans);
}
.newsroom-article-1-child5 {
  position: absolute;
  top: 743px;
  left: 404px;
  border-radius: 6.86px;
  background-color: var(--color-ivory);
  width: 109px;
  height: 36px;
}
.economy1 {
  position: absolute;
  top: 748px;
  left: 415px;
  font-size: var(--font-size-xl);
  font-family: var(--font-pt-sans);
}
.april-12,
.priyanshu2 {
  position: absolute;
  top: 0;
  left: 0;
}
.april-12 {
  top: 29.68px;
  font-size: var(--font-size-xs);
  opacity: 0.5;
}
.priyanshu-container {
  position: absolute;
  top: 787.32px;
  left: 164px;
  width: 121px;
  height: 45.68px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-pt-serif);
}
.the-textile-industry {
  margin: 0;
}
.the-textile-industry-container {
  position: absolute;
  top: 851px;
  left: 164px;
  font-size: var(--font-size-xl);
  line-height: 31px;
  text-align: justify;
  display: inline-block;
  width: 844px;
}
.group-child72 {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: var(--vrgear-light-color-background);
  width: 297px;
  height: 210px;
}
.blog2,
.genre2,
.group-child72 {
  position: absolute;
  left: 0;
}
.genre2 {
  top: 0;
  text-transform: uppercase;
  opacity: 0.7;
}
.blog2 {
  top: 16px;
  font-size: var(--font-size-base);
}
.genre-container,
.published-on-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 37px;
}
.published-on-container {
  left: 128px;
  width: 99px;
}
.follow-frame,
.group-parent11 {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 227px;
  height: 37px;
}
.follow-frame {
  top: 158px;
  left: 124px;
  width: 52px;
  height: 21px;
  font-size: var(--font-size-base);
  color: var(--vrgear-light-color-background);
}
.avenue-roadways2 {
  position: absolute;
  top: 27px;
  left: 0;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  opacity: 0.6;
}
.group-wrapper1,
.priyanshu-sharma-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 43px;
}
.group-wrapper1 {
  top: 18px;
  left: 20px;
  font-size: var(--text-2-regular-size);
}
.rectangle-parent7 {
  position: absolute;
  top: 273.32px;
  left: 1038px;
  width: 297px;
  height: 210px;
  font-size: var(--font-size-xs);
  font-family: var(--font-pt-serif);
}
.group-child73 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--vrgear-light-color-background);
  width: 297px;
  height: 336px;
}
.priyanshu-sharma5 {
  font-family: var(--text-2-regular);
  background: linear-gradient(
    91.88deg,
    #f10109 28.89%,
    #043782 84.08%,
    #033782
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.more-from-priyanshu-container2 {
  position: absolute;
  top: 15.65px;
  left: 20px;
  font-size: var(--text-2-regular-size);
  display: inline-block;
  width: 256px;
  height: 23.44px;
}
.running-a-transport5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 139%;
  font-weight: 500;
  font-family: var(--text-2-regular);
  color: var(--color-gray-100);
  display: inline-block;
  width: 259px;
}
.india2,
.logistics2,
.transport3 {
  position: absolute;
  top: 37.6px;
  left: 0;
  display: inline-block;
  width: 82px;
  height: 20px;
  opacity: 0.5;
}
.india2,
.logistics2 {
  left: 87px;
  width: 78px;
  height: 21px;
}
.india2 {
  left: 170px;
  width: 76px;
  height: 20.51px;
}
.group-child74,
.running-a-transport-and-logist-group {
  position: absolute;
  top: 7.65px;
  left: 20px;
  width: 259px;
  height: 58.6px;
}
.group-child74 {
  top: -2px;
  left: -2px;
  border-top: 2px solid var(--text-txt-primary);
  box-sizing: border-box;
  width: 301px;
  height: 4px;
  opacity: 0.1;
}
.group-parent12 {
  position: absolute;
  top: 53.74px;
  left: 0;
  width: 297px;
  height: 66.26px;
}
.impact-of-union4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 139%;
  font-weight: 500;
  font-family: var(--text-2-regular);
  color: var(--color-gray-100);
  display: inline-block;
  width: 251px;
}
.budget20231,
.transportation1 {
  position: absolute;
  top: 38.63px;
  left: 0;
  display: inline-block;
  width: 101px;
  height: 20px;
  opacity: 0.5;
}
.transportation1 {
  left: 107px;
  width: 120px;
}
.group-parent13,
.impact-of-union-budget-2023-on-group {
  position: absolute;
  top: 6.65px;
  left: 20px;
  width: 251px;
  height: 58.63px;
}
.group-parent13 {
  top: 138.72px;
  left: 0;
  width: 297px;
  height: 65.28px;
}
.read-next2,
.rectangle-parent8 {
  position: absolute;
  font-family: var(--font-pt-serif);
}
.rectangle-parent8 {
  top: 433px;
  left: 1038px;
  width: 297px;
  height: 336px;
  font-size: var(--font-size-base);
}
.read-next2 {
  top: 2048px;
  left: 165px;
  font-size: var(--title-3-strong-size);
}
.what-new-road3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 139%;
}
.impact-of-union-budget-2023-on-container,
.running-a-transport-and-logist-container,
.what-new-road-policies-will-im-frame {
  position: absolute;
  height: 0.8%;
  width: 27.64%;
  top: 79.19%;
  right: 60.97%;
  bottom: 20.01%;
  left: 11.39%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.impact-of-union-budget-2023-on-container,
.running-a-transport-and-logist-container {
  width: 28.19%;
  top: 77.63%;
  right: 60.35%;
  bottom: 21.57%;
  left: 11.46%;
}
.impact-of-union-budget-2023-on-container {
  width: 32.71%;
  top: 76.07%;
  right: 55.9%;
  bottom: 23.13%;
  left: 11.39%;
}
.newsroom-article-1-child6 {
  position: absolute;
  top: 422.74px;
  left: 1043.99px;
  border-top: 2px solid var(--text-txt-primary);
  box-sizing: border-box;
  width: 285.01px;
  height: 2px;
}
.placeholder-image6 {
  position: absolute;
  top: 272px;
  left: 164px;
  width: 844px;
  height: 300px;
  object-fit: cover;
}
.newsroom-article-1-child7 {
  position: absolute;
  top: 1911.65px;
  left: 0;
  width: 1344.43px;
  height: 846.35px;
  opacity: 0.15;
}
.ar-only-logo-23 {
  position: absolute;
  top: 2377px;
  left: 99px;
  width: 160px;
  height: 164px;
  object-fit: cover;
}
.round-place-24px-icon3 {
  position: relative;
  width: 26px;
  height: 28px;
}
.abc-company3 {
  position: relative;
  line-height: 25px;
  display: inline-block;
  width: 458px;
  flex-shrink: 0;
}
.office-address3 {
  position: absolute;
  top: 2417px;
  left: 514px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
}
.round-phone-24px-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
}
.b16 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.frame-div,
.phone-number3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-div {
  position: absolute;
  top: 2483px;
  left: 514px;
  align-items: flex-start;
  gap: var(--gap-101xl);
  font-size: var(--font-size-mini);
  font-family: var(--font-montserrat);
}
.newsroom-article-1-child8 {
  position: absolute;
  top: 1963.65px;
  left: 95.57px;
  width: 1344.43px;
  height: 794.35px;
  opacity: 0.15;
}
.icon-facebook3,
.icon-social-linkedin3 {
  position: absolute;
  height: 0.99%;
  width: 1.91%;
  top: 87.64%;
  right: 9.48%;
  bottom: 11.37%;
  left: 88.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-social-linkedin3 {
  width: 1.9%;
  top: 87.67%;
  right: 5.81%;
  bottom: 11.34%;
  left: 92.29%;
}
.home3 {
  position: absolute;
  top: 5px;
  left: -16px;
  line-height: 32px;
  font-weight: 600;
}
.about-us6,
.contact-us6,
.news-room7,
.our-services6,
.our-team4 {
  position: absolute;
  top: 5px;
  left: 106px;
  line-height: 32px;
  font-weight: 600;
}
.contact-us6,
.news-room7,
.our-services6,
.our-team4 {
  left: 279px;
}
.contact-us6,
.news-room7,
.our-services6 {
  left: 451px;
}
.contact-us6,
.news-room7 {
  left: 665px;
}
.contact-us6 {
  left: 865px;
}
.header-wrapper1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 42px;
}
.newsroom-article-1-inner1 {
  position: absolute;
  width: calc(100% - 440px);
  top: 88px;
  right: 114px;
  left: 326px;
  height: 42px;
  font-size: var(--font-size-8xl);
  color: var(--blue);
}
.newsroom-article-1-child9 {
  position: absolute;
  height: 0.11%;
  width: 74.72%;
  top: 93.91%;
  right: 4.65%;
  bottom: 5.98%;
  left: 20.63%;
  background-color: var(--color-lightskyblue);
  border: 2px solid var(--color-darkgray);
  box-sizing: border-box;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.copyright-20183 {
  position: absolute;
  top: 2616px;
  left: 1148px;
  font-family: var(--font-assistant);
  color: var(--dark);
  opacity: 0.5;
  mix-blend-mode: normal;
}
.about-us7 {
  position: relative;
  text-transform: uppercase;
}
.about-us-parent1,
.secondary-footer3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent1 {
  gap: var(--gap-22xl);
}
.secondary-footer3 {
  position: absolute;
  top: 2616px;
  left: 298px;
  font-size: var(--font-size-mini);
  color: var(--dark);
}
.newsroom-article-1 {
  position: relative;
  background-color: var(--vrgear-light-color-background);
  width: 100%;
  height: 2758px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-txt-primary);
  font-family: var(--text-2-regular);
}
